**NAMA : SITI NUR AINI**

**NIM : 210411100054**

**MODUL 5 - SHORTING**

 ## **1 Konsep**

Kerjakan berikut dengan ketentuan, modulus satu digit terakhir dengan 3, hasil modulus adalah kode soal
berikut ini. Tulis ringkasan atau penjelasan hal-hal berikut, dengan kata-kata kalian sendiri mengenai :
*  Kode Soal = 0, Bubble Sort, pengertian, dan fungsi Bubble Sort
*  Kode Soal = 1, Selection Sort, pengertian, dan fungsi Selection Sort
*  Kode Soal = 2, Insertion Sort, pengertian, dan fungsi Insertion Sort
HashtagVideo : Modul5 Sorting dan PraktikumStrukturData KelasX

### **Konsep 1**

**SELECTION SORT**

**Pengertian Selection Sort**

selection sort merupakan teknik pengurutan dengan cara mencari nilai tertinggi/terendah di dalam list kemudian menempatkan nilai tersebut di tempat semestinya.

Pada selection sort akan dicari data yang
memenuhi syarat terlebih dahulu (perbandingan data), kemudian data yang terpilih ini ini akan diletakkan pada indeks data yang tepat. Oleh karena itu algoritma ini dinamakan selection
(pemilihan data).


**Fungsi Selection Sort**

Untuk mengurutkan data, baik itu pengurutan dari yang terkecil ke terbesar (Ascending) atau dari yang terbesar ke terkecil (Descending) yang menjadikan data lebih terstruktur, rapi dan teratur

 ## **2 Implementasi-1**

Kerjakan berikut dengan ketentuan, modulus satu digit terakhir dengan 6, hasil modulus adalah kode soal
berikut ini. HashtagVideo : Modul5 [AlgoritmaSorting] dan PraktikumStrukturData KelasX,
misalkan : #Modul5 InsertionSortDescending #PraktikumStrukturData KelasX

### **2.5 Kode Soal=4**
Buat fungsi **Modifikasi Algoritma Sorting - Selection Sort,** untuk pengurutan secara **ascending,**
dengan ketentuan :

*  Seleksi/cari indeks data yang memiliki nilai maksimal dari suatu list (pencarian dilakukan mulai dari
indeks-indeks akhir)
*  Data yang memiliki nilai besar, diletakkan terlebih dahulu di indek-indeks akhir, sehingga pada akhir
iterasi indeks-indeks akhir ditempati data yang memiliki nilai besar.
*  Contoh Proses perbandingan yang dilakukan pada modifikasi algoritma selection sort ini dan output
yang harus dihasilkan pada fungsi yang akan dibuat, dapat dilihat pada Gambar 5

### **Implementasi - 1**
### **Kode soal = 4**

In [ ]:
#  Selection Sort - Ascending
def selectionsortasc(data):
  n = len(data)
  print('Data =',data)
  for i in range(n-1,-1,-1): #awal, akhir, intereval
    minflag = i
    maxkey = i
    for j in range(maxkey):
      if data[maxkey] <= data[j] :
        maxkey = j

    if data[maxkey] >= data[minflag]:
      data[maxkey],data[minflag] = data[minflag],data[maxkey]
    print('data[%s] is the max value, swap data[%s] and data[%s],  new data :%s' % (maxkey, maxkey, minflag, data))
  print('Sorted Data=', data)

In [ ]:
data = [10, 9, 1, 3, 8, 7, 11, 0]
selectionsortasc(data)

Data = [10, 9, 1, 3, 8, 7, 11, 0]
data[6] is the max value, swap data[6] and data[7],  new data :[10, 9, 1, 3, 8, 7, 0, 11]
data[0] is the max value, swap data[0] and data[6],  new data :[0, 9, 1, 3, 8, 7, 10, 11]
data[1] is the max value, swap data[1] and data[5],  new data :[0, 7, 1, 3, 8, 9, 10, 11]
data[4] is the max value, swap data[4] and data[4],  new data :[0, 7, 1, 3, 8, 9, 10, 11]
data[1] is the max value, swap data[1] and data[3],  new data :[0, 3, 1, 7, 8, 9, 10, 11]
data[1] is the max value, swap data[1] and data[2],  new data :[0, 1, 3, 7, 8, 9, 10, 11]
data[1] is the max value, swap data[1] and data[1],  new data :[0, 1, 3, 7, 8, 9, 10, 11]
data[0] is the max value, swap data[0] and data[0],  new data :[0, 1, 3, 7, 8, 9, 10, 11]
Sorted Data= [0, 1, 3, 7, 8, 9, 10, 11]

In [ ]:
data = [10, 7, 6, 5, 3, 1, 0, -5]
selectionsortasc(data)

Data = [10, 7, 6, 5, 3, 1, 0, -5]
data[0] is the max value, swap data[0] and data[7],  new data :[-5, 7, 6, 5, 3, 1, 0, 10]
data[1] is the max value, swap data[1] and data[6],  new data :[-5, 0, 6, 5, 3, 1, 7, 10]
data[2] is the max value, swap data[2] and data[5],  new data :[-5, 0, 1, 5, 3, 6, 7, 10]
data[3] is the max value, swap data[3] and data[4],  new data :[-5, 0, 1, 3, 5, 6, 7, 10]
data[3] is the max value, swap data[3] and data[3],  new data :[-5, 0, 1, 3, 5, 6, 7, 10]
data[2] is the max value, swap data[2] and data[2],  new data :[-5, 0, 1, 3, 5, 6, 7, 10]
data[1] is the max value, swap data[1] and data[1],  new data :[-5, 0, 1, 3, 5, 6, 7, 10]
data[0] is the max value, swap data[0] and data[0],  new data :[-5, 0, 1, 3, 5, 6, 7, 10]
Sorted Data= [-5, 0, 1, 3, 5, 6, 7, 10]

## **3 Implementasi-2**

Kerjakan untuk semua mahasiswa.
Modifikasi algoritma Bubble Sort agar iterasi terhenti ketika tidak ada lagi data yang akan ditukar posisinya
(semua data sudah berada di tempat yang tepat). Contoh Bubble Sort tanpa modifikasi dapat dilihat pada
Gambar 7a, sedangkan modifikasi bubble sort dapat dilihat pada Gambar 7b.
HashtagVideo : Modul5 BubbleSortModifikasi dan PraktikumStrukturData KelasX,

### **Implementasi-2**

In [ ]:
# (a) Bubble Sort Tanpa Modifikasi
def bubleSort(data):
  print('Data yang akan diurutkan : ', data)
  iterasi = 0
  n = len(data)
  for i in range(n-1,-1,-1):
    iterasi += 1
    print('Iterasi ke-',iterasi,':')
    for j in range(i):
      if data[j] > data[j+1]:
        data[j],data[j+1] = data[j+1],data[j]
      print(j+1,'=',data)
  print('data terurut= ',data)

b = [10,2,5,8,1,20,2,2,4]
bubleSort(b)

Data yang akan diurutkan :  [10, 2, 5, 8, 1, 20, 2, 2, 4]
Iterasi ke- 1 :
1 = [2, 10, 5, 8, 1, 20, 2, 2, 4]
2 = [2, 5, 10, 8, 1, 20, 2, 2, 4]
3 = [2, 5, 8, 10, 1, 20, 2, 2, 4]
4 = [2, 5, 8, 1, 10, 20, 2, 2, 4]
5 = [2, 5, 8, 1, 10, 20, 2, 2, 4]
6 = [2, 5, 8, 1, 10, 2, 20, 2, 4]
7 = [2, 5, 8, 1, 10, 2, 2, 20, 4]
8 = [2, 5, 8, 1, 10, 2, 2, 4, 20]
Iterasi ke- 2 :
1 = [2, 5, 8, 1, 10, 2, 2, 4, 20]
2 = [2, 5, 8, 1, 10, 2, 2, 4, 20]
3 = [2, 5, 1, 8, 10, 2, 2, 4, 20]
4 = [2, 5, 1, 8, 10, 2, 2, 4, 20]
5 = [2, 5, 1, 8, 2, 10, 2, 4, 20]
6 = [2, 5, 1, 8, 2, 2, 10, 4, 20]
7 = [2, 5, 1, 8, 2, 2, 4, 10, 20]
Iterasi ke- 3 :
1 = [2, 5, 1, 8, 2, 2, 4, 10, 20]
2 = [2, 1, 5, 8, 2, 2, 4, 10, 20]
3 = [2, 1, 5, 8, 2, 2, 4, 10, 20]
4 = [2, 1, 5, 2, 8, 2, 4, 10, 20]
5 = [2, 1, 5, 2, 2, 8, 4, 10, 20]
6 = [2, 1, 5, 2, 2, 4, 8, 10, 20]
Iterasi ke- 4 :
1 = [1, 2, 5, 2, 2, 4, 8, 10, 20]
2 = [1, 2, 5, 2, 2, 4, 8, 10, 20]
3 = [1, 2, 2, 5, 2, 4, 8, 10, 20]
4 = [1, 2, 2, 2, 5, 4, 8, 10, 20]
5 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
Iterasi ke- 5 :
1 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
2 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
3 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
4 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
Iterasi ke- 6 :
1 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
2 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
3 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
Iterasi ke- 7 :
1 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
2 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
Iterasi ke- 8 :
1 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
Iterasi ke- 9 :
data terurut=  [1, 2, 2, 2, 4, 5, 8, 10, 20]

In [ ]:
# (b) Bubble Sort Modifikasi
def modifiedBubbleSort(data):
  iterasi = 0
  n = len(data)
  for i in range(n-1, 3, -1):
    iterasi += 1
    print('iterasi ke-',iterasi,'jumlah iterasi-',i)
    for j in range(i):
      if data[j] > data[j+1]:
        data[j],data[j+1] = data[j+1],data[j]
      print(j+1,'=',data)
    n -= 1
b = [10,2,5,8,1,20,2,2,4]
modifiedBubbleSort(b)

iterasi ke- 1 jumlah iterasi- 8
1 = [2, 10, 5, 8, 1, 20, 2, 2, 4]
2 = [2, 5, 10, 8, 1, 20, 2, 2, 4]
3 = [2, 5, 8, 10, 1, 20, 2, 2, 4]
4 = [2, 5, 8, 1, 10, 20, 2, 2, 4]
5 = [2, 5, 8, 1, 10, 20, 2, 2, 4]
6 = [2, 5, 8, 1, 10, 2, 20, 2, 4]
7 = [2, 5, 8, 1, 10, 2, 2, 20, 4]
8 = [2, 5, 8, 1, 10, 2, 2, 4, 20]
iterasi ke- 2 jumlah iterasi- 7
1 = [2, 5, 8, 1, 10, 2, 2, 4, 20]
2 = [2, 5, 8, 1, 10, 2, 2, 4, 20]
3 = [2, 5, 1, 8, 10, 2, 2, 4, 20]
4 = [2, 5, 1, 8, 10, 2, 2, 4, 20]
5 = [2, 5, 1, 8, 2, 10, 2, 4, 20]
6 = [2, 5, 1, 8, 2, 2, 10, 4, 20]
7 = [2, 5, 1, 8, 2, 2, 4, 10, 20]
iterasi ke- 3 jumlah iterasi- 6
1 = [2, 5, 1, 8, 2, 2, 4, 10, 20]
2 = [2, 1, 5, 8, 2, 2, 4, 10, 20]
3 = [2, 1, 5, 8, 2, 2, 4, 10, 20]
4 = [2, 1, 5, 2, 8, 2, 4, 10, 20]
5 = [2, 1, 5, 2, 2, 8, 4, 10, 20]
6 = [2, 1, 5, 2, 2, 4, 8, 10, 20]
iterasi ke- 4 jumlah iterasi- 5
1 = [1, 2, 5, 2, 2, 4, 8, 10, 20]
2 = [1, 2, 5, 2, 2, 4, 8, 10, 20]
3 = [1, 2, 2, 5, 2, 4, 8, 10, 20]
4 = [1, 2, 2, 2, 5, 4, 8, 10, 20]
5 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
iterasi ke- 5 jumlah iterasi- 4
1 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
2 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
3 = [1, 2, 2, 2, 4, 5, 8, 10, 20]
4 = [1, 2, 2, 2, 4, 5, 8, 10, 20]